.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  width: 100%;
  position: relative;
  height: 170px;
  display: flex;
}
.banner h1{
  margin: 10px;
  color: #073b4c
}

.banner p {
    color: black;
    opacity: .7;
    font-size: 18px;
    height: 30px;
    margin: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 10px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
  }
